  <form class="form">
      <mat-form-field class="full-width">
          <input type="text" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Item Name" matInput  [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option style="cursor:pointer;" *ngFor="let el of (elements| searchItemName: searchText)"(click)="loadItemPage(el)" 
              [value]="el.name">
              [{{el.name}}]
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  