<div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="md-form">
            <input type="text" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Item Name">
          <label for="search">Search</label>
        </div>
      </div>
    </div>
    <table searchTable class="z-depth-1">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let el of (elements| searchItemName: searchText)">
        <th scope="row">{{el.id}}</th>
        <td class="red-text">{{el.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>