<mat-toolbar style="height:100px;">

    <mat-form-field class="container">

        <input matInput (keyup)="applyFilter($event.target.value)" value='{{it.name}}'placeholder="Search">
    </mat-form-field>
</mat-toolbar>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row">
                <row itemId='{{row.item}}'>{{row.item}} </row>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Favorite </th>
            <td mat-cell *matCellDef="let row">
                    <button color="accent" (click)='addf(row.item,row.ownerRealm,passedVar.loggeduser.id)' mat-icon-button aria-label=" heart icon">
                            <mat-icon>favorite</mat-icon>
                          </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
            <td mat-cell *matCellDef="let row"> {{row.owner}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
            <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="bid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Bid </th>
            <td mat-cell *matCellDef="let row"> {{row.bid}} </td>
        </ng-container>

        <ng-container matColumnDef="buyout">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyout </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.buyout }} </td>
        </ng-container>

        <ng-container matColumnDef="timeLeft">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Left </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.timeLeft }} </td>
        </ng-container>
        <tr mat-header-row class="make-darker" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="make-dark" *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="20"></mat-paginator>
</div>
<button (click)=loadScript() class="btn btn-primary"></button>